body {
    min-width: 1200px;
}
main {
    background-color: white;
    display: flex;
    justify-content: center;
}
.container{
    width: 1200px;
    display: flex;
}
.main {
    width: 800px;
    margin: 20px 50px 0 40px;
}
.right_bar {
    width: 270px;
    margin-top: 20px;
    margin-right: 40px;
}
h2, h3, h4, p, a, small {
    font-family: YuGothic, Hiragino Kaku Gothic Pro, Meiryo, MS PGothic, sans-serif;
}
h2 {
    border-bottom: solid 2px #ff908e;
    padding-bottom: 10px;
    width: 750px;
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: tomato;
}
header {
    background-image: url(images/top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.header {
    width: 1200px;
}
.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding: 20px 40px;
}
.top_title img {
    display: block;
    margin: 0 auto;
}
header ul {
    display: flex;
    gap: 30px;
}
header a {
    color: white;
}
.search {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px 200px 40px;
}
.search p {
    font-weight: bold;
    margin-top: 2.5px;
    margin-right: 6px;
}
input[type=submit] {
    background-color: red;
    background-image: url(images/icon07.png);
    background-repeat: no-repeat;
    background-position: left 3px center;
    color: white;
    padding: 3px 10px 3px 30px;
}
input[type=search] {
    height: 30px;
    padding: 5px;
}


.main_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_title p {
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    padding-bottom: 5px;
}
.main_title img {
    padding: 0 10px 5px 0;
}
.title h2 {
    width: auto;
    border: none;
}
.title {
    display: flex;
    align-items: center;
    width: 750px;
    border-bottom: solid 2px orange;
}
.area {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 60px;
}
.area ul {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    gap: 10px;
}
.area li {
    border: solid 1px #80808052;
    text-align: center;
    width: 4em;
}
.area a {
    display: block;
    padding: 2px;
}
.spot {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 60px 0;
}
.spot ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 750px;
    height: 90px;
}
.spot li {
    font-size: 13px;
    margin: 5px 0;
}
span {
    color: orange;
}
.category {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 60px;
    gap: 10px;
}
.category a {
    border: solid 1px #80808052;
    display: inline-block;
}
.category img {
    display: block;
}
.category p {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight: 600;
}
.tag {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 60px;
}
.tag ul {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    gap: 10px;
}
.tag li {
    border: solid 1px #80808052;
}
.tag a {
    display: block;
    padding: 2px 10px;
}
.main_main {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 60px;
    gap: 20px;
}
figure {
    background-color: #fcfafa;
    border: solid 1px #80808052;
    width: 365px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure img {
    height: 195px;
}
figure h3 {
    margin: 20px 0;
}
.review_main {
    background-color: #fcfafa;
    border: solid 1px #80808052;
    width: 365px;
}
.review_icon {
    display: flex;
    border-bottom: solid 1px #80808052;
    margin: 10px;
}
.review_icon img {
    margin: 10px;
}
.review_name {
    margin: 10px;
}
section {
    height: 270px;
    padding: 15px;
}
section h3 {
    margin-bottom: 15px;
}
.picture {
    display: flex;
    height: 189px;
}
.picture img {
    margin: 10px;
    flex: 1;
}
.picture img:first-child {
    margin-right: 0px;
}
.right_content:first-child {
    background-color: #fffef3;
    border: solid 1px #80808052;
    padding: 30px;
    margin-bottom: 20px;
}
.profile {
    background-color: #fafafa;
    padding: 10px;
}
.profile_top {
    display: flex;
    padding: 10px;
}
.profile_center, .profile_bottom {
    display: flex;
    align-items: center;
    border-top: solid 1px #80808052;
    padding: 8px;
}
.profile img {
    margin-right: 10px;
}
.profile_top img {
    height: 55px;
}
.profile p {
    font-size: 14px;
}
.profile_center p:last-child, .profile_bottom p:last-child {
    margin-left: auto;
}
aside img {
    display: block;
}
aside:last-child {
    margin-top: 20px;
}
footer {
    margin-top: 50px;
}
.footer ul {
    border-top: solid 2px #80808033;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}
small {
    background-color: #dcd5d5;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}